@using Microsoft.AspNetCore.Mvc.Localization
@using Fiovana_v2.Localization
@inject IHtmlLocalizer<Fiovana_v2Resource> L
<a class="btn" role="button" href="~/Account/Login"><i class="fa fa-sign-in me-1"></i> @L["Login"]</a>
